
  form {
    max-width: 350px;
    margin: 0 auto;
  }
  
  h3 {
    font-weight: 150;
    color: rgb(17, 116, 22);
    text-align: center;
    padding-bottom: 10px;
    
  }
  
  
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(16, 122, 16);
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  
  
  button[type="submit"],
  input[type="submit"] {
    background: #0f8027;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #045714;
  }
  
  button[type="submit"]:active,

  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  
  


  
 